* {
    box-sizing: border-box;
    margin: 0;
}

:root{
    --martus_purple:#114354;
    --martus_blue:#186079;
    --martus_lightBlue:#1f7197;
    --martus_skyBlue: #1c769F;
    --martus_white:#e9f8f9;
    --font_big:36px;
    --font_medium: 24px;
    --font_Small_medium: 15px;
    --font_small: 11px;
    --font_very_small: 8px;
}

body{
    font-family: 'SDSamliphopangche_Basic';
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

* p, h1, h2, h3, i{
    color: var(--martus_blue);
}

i{
    margin-top: 0px;
}

ul{
    list-style: none;
}