 .personal_pray_card{
    margin: 0 4px;
    border: 1px solid var(--martus_skyBlue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px 0;
    margin: 5px 3px;
}

.aside {
    /* display: grid;
    grid-area: sidebar;
    grid-template-rows: 4fr 1fr 1fr; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.suport span{
    border-bottom: none;
}

img{
    height: 70%;
    width: 70%;
    margin-bottom: 3px;
}

li, p{
    color: var(--martus_purple);
}

.info_box{
    display: flex;
    justify-content: center;
    background-color: var(--martus_skyBlue);
    width: 85%;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 0.5px 0;
}

.name , .id{
    text-align: center;
    background-color: white;
    width: 80%;
    padding: 1px 2px;
}

.name{
    color: var(--martus_purple);
    font-size: 12px;
}

.id{
    font-size: 9px;
}

article {
    width: 70vw;
}

article p, ol{
    flex-wrap: wrap;
    padding-left: 5px;
    margin-bottom: 3px;
}

.promise, .pray_topic{
    font-size: 9px;
}

.pray_topic ol{
    padding-left: 5%;
}

.pray_topic li{
    font-family: 'GangwonEdu_OTFBoldA';
    margin-bottom: 5px;
}

.promise{
    margin-bottom: 4px;
}

.pray_topic .box, .promise .box{
    width: 15vw;
    background-color: var(--martus_skyBlue);
    border-radius: 3px;
    margin: 2px 0 3px 0;
    padding: 0.6px 0.6px 0.6px 0;
}

.title{
    padding: 1px 0 1px 3px;
    position: sticky;
    color: var(--martus_skyBlue);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    left: 100%;
    width: 13vw;
    font-family: 'SDSamliphopangche_Outline';
    background-color: white;
}